Flask==2.0.1
Flask-Cors==3.0.10
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.13.0
marshmallow-sqlalchemy==0.26.1
pyelftools==0.27
pyserial==3.5
requests==2.26.0
selenium==3.141.0
semantic-version==2.8.5
six==1.16.0
SQLAlchemy==1.4.23
starlette==0.16
tabulate==0.8.9
urllib3==1.26.6
uvicorn==0.15
