{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}
<div class="ui padded grid">
  <div
    class="two wide tablet only two wide computer only column"
    id="sidebar"
  >
    <div class="ui massive vertical borderless fluid text menu">
      <a href="/overview" class="item">Overview <em data-emoji=":clipboard:" class="small"></em></a>
      <a href="/create_task" class="active item">Create Task <em data-emoji=":crayon:" class="small"></em></a>
      <a href="/task_reports" class="item">Task Reports <em data-emoji=":bar_chart:" class="small"></em></a>
      <a href="/database" class="item">Database <em data-emoji=":card_box:" class="small"></em></a>
      <a href="/bot_settings" class="item">Bot Settings <em data-emoji=":tools:" class="small"></em></a>
    </div>
  </div>
  <div
    class="sixteen wide mobile fourteen wide tablet fourteen wide computer right floated column"
    id="content"
  >
  <form  method="POST" class="ui form">
    <div class="ui center aligned padded grid">
      <div class="row">
        <h1 class="ui huge dividing header">Create a Task</h1><br> <br>
      </div>
      <div class="ui center aligned large form">
       <div class="huge field">
        <label>Type of Task</label>
        <select id="task_type" class="ui search dropdown"><br>
          <option value="0">Select Task</option><br>
          <option value="1">Email Registration</option>
          <option value="2">Instagram Registration</option>
          <option value="3">Task(comment etc.)</option>
        </select>
       </div>
      </div>
      <input id="type_of_task" type="hidden" name="task_type" value="Temp"><br>

      <div class="row">

        <div class="ui segment">
          <div class="ui center aligned very relaxed grid" >
            <div class="column">

              <p>Account Amount</p>  <br>
              <div class="ui input">
                <input type="text" placeholder="Please enter a number" name="account_amount"><br>
              </div><br><br>

              <p>Bot Amount</p>  <br>
              <div class="ui labeled slider" id="slider-custom-step" tabindex="0" style="width:250px">
                <div class="inner">
                  <div class="track"></div>
                  <div class="track-fill" style="left: 0%; right: 60%;"></div>
                  <div class="thumb" style="left: calc(40% - 10.5px); right: auto;"></div>
                </div>
              </div>
                <input id="bot_amount" type="hidden" name="bot_amount" value="Temp"><br>

            </div>
          </div><br>

          <div class="ui center aligned grid">


                <button onclick="getTaskType();" formaction="/add_task" class="ui button" type="Submit">
                  Focusable
                </button>

          </div>


        </div>
      </div>


    </div>
    </form>
  </div>
</div>

<script>
  let bots_available = {{ bots_available }}
  $('.ui.slider')
    .slider({
      min: 1,
      max: bots_available,
      start: 0,
      step: 1
    })
  ;


</script>

<script>
  function getTaskType(){
    var dropdown = document.getElementById("task_type");
    var task_type = dropdown.value;
    document.getElementById("type_of_task").value = task_type;
    var bot_amount = $('.ui.slider').slider('get value');
    document.getElementById("bot_amount").value = bot_amount;


  }

</script>



{% endblock %}
